<!DOCTYPE html>
<html>
<head>
    <title>Вопрос  #qwe43rt</title>
    <script type="text/javascript">
        // Insert optional override object before the function

//        createGridder = function() {
//            document.body.appendChild(
//                            document.createElement('script'))
//                    .src='js/960.gridder.js';
//        }
    </script>

    <link rel="stylesheet" type="text/css" href=" css/reset.css" />
    <link rel="stylesheet" type="text/css" href=" css/960_12_col.css" />
    <link rel="stylesheet" type="text/css" href=" css/style.css" />
</head>
<body onload="createGridder()">
    <div class="container_12">
        <nav></nav>
        <section>
            <div class="grid_12"><h1>Ответьте на вопрос</h1></div>
            <div class="clear"></div>

            <div class="grid_6 prefix_3"><span class="quest">"Поехала" вёрстка?</span></div>
            <div class="clear"></div>

            <div class="grid_3 prefix_3"><button class="btn green middle">Да</button></div>
            <div class="grid_3 prefix_1"><button class="btn blue middle">Нет</button></div>
            <div class="clear"></div>

        </section>
    </div>
</body>
</html>